.card{
    margin-top: 100px;
    background: rgb(161, 248, 102) !important;
}

.card-title{
    color: coral;
    text-decoration: none;
}

@media(max-width:575px){
    .card-body img{
        width: 50% !important;
    }

    .card-body{
        padding: 20px!important;
    }

    .card{
        margin-top: 50px;
    }
}