.login-text {
    border: 1px solid #dbd0d0;
    margin-top: 50px;
    padding: 15px;
}

.login-text input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #dbd0d0;
    padding: 10px;
}

.login-btn{
    background-color: #fc5725;
    color: white;
    font-weight: 500;
}

.account-text{
    margin: 10px 0;
}

.sing-in-btn{
    padding: 8px 120px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
}

.login-icon{
    color: tomato;
    margin-right: 10px;
}

@media(max-width: 575px){
    .login-text {
        border: 1px solid #dbd0d0;
        margin-top: 50px;
        padding: 10px;
    }

    .sing-in-btn{
        padding: 8px 40px;
    }


}